.vscode/settings.json
.pylintrc
__pycache__/players.cpython-37.pyc
__pycache__/squads.cpython-37.pyc
templates/squad1.html
templates/waitList.html
test/.pytest_cache/v/cache/nodeids
test/.pytest_cache/v/cache/lastfailed
test/__pycache__/__init__.cpython-37.pyc
test/__pycache__/test_players.cpython-37-PYTEST.pyc
.pytest_cache/v/cache/nodeids
test/__pycache__/test_squads.cpython-37-PYTEST.pyc
templates/squad2.html
templates/squad3.html
templates/squad4.html
templates/squad5.html
templates/squad10.html
templates/squad11.html
templates/squad12.html
templates/squad13.html
templates/squad14.html
templates/squad15.html
templates/squad16.html
templates/squad17.html
templates/squad18.html
templates/squad19.html
templates/squad20.html
templates/squad21.html
templates/squad22.html
templates/squad23.html
templates/squad24.html
templates/squad25.html
templates/squad26.html
templates/squad27.html
templates/squad28.html
templates/squad29.html
templates/squad30.html
templates/squad31.html
templates/squad32.html
templates/squad33.html
templates/squad34.html
templates/squad35.html
templates/squad36.html
templates/squad37.html
templates/squad38.html
templates/squad39.html
templates/squad40.html
templates/squad6.html
templates/squad7.html
templates/squad8.html
templates/squad9.html
