<!DOCTYPE html>
<html lang="en">
 
    <head>
        <title>Hockey Squad Builder</title>
        <link rel="stylesheet" type="text/css" href="../static/style.css">
    </head>
 
    <body>
        {% if errorPopup %}
            <div class=errorText>
                Error Encountered During Squad Generation:<br>
                {{ errorPopup|safe }}
            </div>
        {% endif %}
        <div class=titleText><b>Hockey Squad Builder</b></div>
        <div class=text>Generate a set of squads from a list of available players.</div><br>
        <div class=text>
            Instructions<br>
            Enter the number of desired squads below, and click the Generate Squads Button<br>
            To clear the current list of squads, press Reset Squads.

        <form class=text action="/squads" method="POST">
            <b style="font-size:20px;">Number of Squads:</b>
            <input type="number" name=numSquads onfocus="this.value=''"
             oninvalid="alert('Number of Squads must be greater than zero and lower than the number of available players')"
             value=1 min=1 max= {{ numPlayers }} />
            <button class=button type="submit"><b>Generate Squads</b></button>
        </form>
        <div class=text>The number of desired squads must be lower than the number of available players</div>
        <div class=numText><b>{{ numPlayers }} Players Currently Available</b></div>
        <form class=text action = "/", method="GET">
            <button class=button type="submit"><b>Reset Squads</b></button>
        </form>
        <div>
            {% if waitingList %}
                <div class=waitListText><b>Waiting List</b></div>
                <div class=text>{{ waitingList|safe }}</div>
            {% else %}
                <div class=text><b>No Waiting List Found</b></div>
            {% endif %}
        </div>
        {% if squads %}
            <div>
                {% for squad in squads %}
                    <div class=squadText><b>Squad {{loop.index}}</b></div>
                    {{ squad|safe }}
                {% endfor %}
            </div>
        {% endif %}
    </body>
</html>
